[2017-02-14 21:31] lastlegion opened #1 "Using docker compose to create a distribution"

[2018-04-03 02:37] birm opened #3 "Deployment Configuration"
Since different deployments have different feature support (can users upload images, app name/download/grant info, etc) we should have a simple way to configure each deployment. I'm considering expanding the config.ini system I have going on camicroscope/Security, but open to suggestions

[2018-04-24 19:00] birm opened #4 "Needs to mount a config.ini into viewer container"

[2018-04-24 19:09] birm commented on #4
testing on https://github.com/camicroscope/Distro/tree/config-ini

[2018-04-24 21:26] #4 closed

[2018-06-13 14:41] birm opened #8 "Apache conf in viewer insists on quip loader"
but distro uses camicroscope-imageloader. This means loading fails.

[2018-09-17 18:17] birm commented on #8
resolved with refactor

[2018-09-17 18:17] #8 closed

[2018-09-17 18:17] birm commented on #1
Done not just with refactor, but also earlier.

[2018-09-17 18:17] #1 closed

[2018-10-11 16:45] birm opened #13 "To Geoindex or not to geoindex?"
remove georoutes if we're not doing that index. Add index back if we are.

[2019-02-08 17:25] #13 closed

[2019-04-19 03:27] shaokeke opened #33 "when i post"
![image](https://user-images.githubusercontent.com/37448773/56403855-ebf71b00-6295-11e9-9ad3-aee5dd09c68a.png)

[2019-04-19 16:34] birm commented on #33
Thank you for reporting. Is this on your own deployment, or is this from camicroscope.org?

[2019-04-20 00:58] shaokeke commented on #33
![image](https://user-images.githubusercontent.com/37448773/56449338-4f428500-634a-11e9-8aa1-2f9154df85a7.png)
![image](https://user-images.githubusercontent.com/37448773/56449340-55386600-634a-11e9-8b67-e0bdbb54cec1.png)
on my own deployment

[2019-04-20 01:00] shaokeke commented on #33
thanks

[2019-04-20 03:37] birm commented on #33
Oh, a mongo error! Can you please remove lines 9 and 10 of camicroscope.yml (```    logging:
driver: none``` under mongo) and run this again?

[2019-05-03 16:15] birm commented on #33
usually this issue is due to either disk space issues, or more likely ./db being set up for a different version of mongo. If this is the case, you can clear that folder and/or remove the `./db:/data/db` volume from the mongo service (line 8 in caMicroscope.yml)

[2019-05-23 19:29] #33 closed

[2019-08-23 16:49] choosehappy opened #65 "proxy error on execution"
I've issued these commands:

[code]

which appear to work okay. This leaves me with this:

![image](https://user-images.githubusercontent.com/9681868/63608623-bfe9fe80-c5d5-11e9-8933-d401d7719810.png)

Everything look good so far

Then when i go to: http://haeckel.case.edu:4010/apps/loader/loader.html

I see a landing page, cool

clicking on load image page, i select a local image, and click uploa

[2019-08-23 17:06] birm commented on #65
Hello, and thanks for using caMicroscope!
So we can see what may be wrong, can you please turn on logs for the loader container as well? This is accomplished by deleting lines 54 and 55 of https://github.com/camicroscope/Distro/blob/de335e7a0207b9ab012e9c3fe339d46b9641c916/caMicroscope.yml#L54

Thanks again,
-Ryan

[2019-08-23 17:31] choosehappy commented on #65
yes sir

so i've done that but it doesn't seem to have produced any more output?

i've removed those 2 lines:

![image](https://user-images.githubusercontent.com/9681868/63611593-7ea91d00-c5dc-11e9-90be-2f106ffacbc8.png)

and then rerun the up command:
[code]

[2019-08-23 17:32] choosehappy commented on #65
are the logs to the screen or to a file? doesn't look like a file was created:

[code]

[2019-08-23 17:41] choosehappy commented on #65
by the way, the UI also produces the same error message when the file is eventually (fake) uploaded :)

![image](https://user-images.githubusercontent.com/9681868/63612217-03e10180-c5de-11e9-8dc1-b2b12f173239.png)

[2019-08-23 18:00] birm commented on #65
To confirm; this error occurs when you choose a file, or when you click "finish upload"?
In either case, it's probably not a bad idea to get your client network logs from the loader ui page.

Thank you again,
-Ryan

[2019-08-23 18:05] choosehappy commented on #65
it definitely occurs after clicking "finish upload"

"it's probably not a bad idea to get your client network logs from the loader ui page."

sorry, i'm not sure what this means, i don't see any option for logs?

[2019-08-23 18:06] birm commented on #65
Ah, my apologies - this is part of the developer console; for firefox see https://developer.mozilla.org/en-US/docs/Tools/Network_Monitor
for chrome, see https://developers.google.com/web/tools/chrome-devtools/network/

[2019-08-23 18:11] choosehappy commented on #65
ah, yes, that one. are you looking for the full har?

https://www.dropbox.com/s/qpoenhwp5b3c6kh/haeckel.case.edu.har?dl=0

Nothing else of interest appears in the console:

![image](https://user-images.githubusercontent.com/9681868/63613943-2117cf00-c5e2-11e9-9245-8d331aa7c840.png)

[2019-08-23 18:17] birm commented on #65
what happens when you "check" that filename?

[2019-08-23 18:22] choosehappy commented on #65
![image](https://user-images.githubusercontent.com/9681868/63614324-072abc00-c5e3-11e9-94cb-6da18e53fb2d.png)

https://www.dropbox.com/s/yqbrf3ixa3lqtj6/har_check.txt?dl=0

[2019-08-23 18:41] birm commented on #65
do you get anything with this url? http://haeckel.case.edu:4010/load/Slide/thumb/B15_4436_4_CETL.svs

also, you could check the images directory on the server (probably "images" with in the distro repository) to see if the file exists there.

Thank you for your patience,
-Ryan

[2019-08-23 18:44] choosehappy commented on #65
i've tried with a number of files,:

[code]

it doesn't look like any of them have been fully uploaded

i guess as expected when going to the thumb URL you provided, it produces an error:

[code]

[2019-08-23 18:50] birm commented on #65
That's interesting.
so, I suspect this may have something to do with existing file names. Right now, if you ask the loader to write over a file, it refuses, and just calls it a bad request. (Same for other file operations, among other issues).

I guess, see if deleting the files (but not the /uploading folder itself) and trying again helps.

In the near future, we will work to make this process cl

[2019-08-23 18:55] choosehappy commented on #65
sorry bit confused by your comment

it doesn't work if i use a previously unseen file, or an existing file

I've not yet had a file transfer go through successfully, regardless if it is a new or old file

for example, i just uploaded  PD10011a_HE-2014-12-07_15.02.40.svs

![image](https://user-images.githubusercontent.com/9681868/63616572-224bfa80-c5e8-11e9-829e-111b7240e40a.png)

clicking "check":

[2019-08-23 19:10] birm commented on #65
Did you try to "finish" the upload in the middle?

[2019-08-23 19:13] choosehappy commented on #65
yup, no dice

![image](https://user-images.githubusercontent.com/9681868/63617814-bc14a700-c5ea-11e9-8673-fc37ad98036f.png)
![image](https://user-images.githubusercontent.com/9681868/63617820-c0d95b00-c5ea-11e9-990c-f50d0e9dbbaf.png)

looks like less than half of the image made it up

similar proxy errors:

![image](https://user-images.githubusercontent.com/9681868/63617840-d2226780-c5ea-11e9-8232

[2019-08-23 19:35] birm commented on #65
this is certainly concerning. At the moment, I'm not sure exactly what is causing this issue. While I work on this, what exactly are you trying to accomplish? (e.g. Test the stack? Just post images yourself, or let anyone upload to the system?) I may be able to quickly put together a workaround that meets your needs.

Thanks again for your patience,
-Ryan

[2019-08-23 19:42] choosehappy commented on #65
not a problem, i of course understand, technology can be a curse  :  )

most urgent on my todo list is to set up an online portal which will allow a handful of people to upload some WSIs and to share them round-about.

we're executing a multi-site, multi-reader evaluation and this seemed like a good tool to do that in. correct?

should be on the order of a few hundred slides

of course i'm also in

[2019-08-23 19:52] birm commented on #65
Well, in this case we can't use a shortcut which avoids the "upload" part then...
Just to troubleshoot some common issues, can you tell me if there's enough space on the server on the disk/device that the distro folder is in?
And, when you start a file upload, it triggers a number of smaller posts with chunks of the files; do /any/ of these fail?

Thank you,
-Ryan

[2019-08-23 20:04] choosehappy commented on #65
lots of space:

[code]

let me try deleting everything and starting from scratch

[2019-08-23 20:11] choosehappy commented on #65
![image](https://user-images.githubusercontent.com/9681868/63620878-d5215600-c5f2-11e9-89e9-cedd86b2e24c.png)

so after clicking finish things looked okay, but then the check doesn't work

should i be clicking "finish upload" at any point after i select the file, or after the entirety of the file has been uploaded?

additionally, i pulled a previous version from the releases, and it had the same i

[2019-08-23 20:14] choosehappy commented on #65
now on uploading a different file, i've clicked finish upload after selecting the file and adding the slidename, but things go off the rails quite quickly

![image](https://user-images.githubusercontent.com/9681868/63621082-537df800-c5f3-11e9-9635-51e81b22d0ac.png)

[2019-08-23 20:34] birm commented on #65
finish upload should be once the entire file is done reading

[2019-08-23 20:45] choosehappy commented on #65
so i've upgraded docker to the absolute latest version, and have waited until the UI says "Reading done" before clicking finish upload, and that appears to have helped:

![image](https://user-images.githubusercontent.com/9681868/63622596-790d0080-c5f7-11e9-9ae4-adc6d4d79511.png)

so now i click on "CAMICROSCOPE" in the landing page, i see:

"No Data Found ... x _ x"

but the files do look like the

[2019-08-23 20:47] birm commented on #65
That error is probably something like a favicon or something like that.

Did you click "post" when you've finished the check?

[2019-08-23 20:55] birm commented on #65
Whether or not this is the source of the issue, I agree that the instructions for this could be clearer or automated. thank you for pointing out this big flaw in our loader application.

[2019-08-23 21:00] choosehappy commented on #65
: ) yes, this is a bit unintuitive, especially since it seems clicking any of the buttons at the wrong time brings everything to an irreversible halt

that said, so we 've built this website:

http://histoqcrepo.com/

which is open source:

https://github.com/foggydae/qcsliderepo-web

and has a _very_  nice user-friendly upload functionality that you may want to consider borrowing, drag and drop,

[2019-08-23 21:23] birm commented on #65
You should be able to multiselect files in the file picker ui (i.e. shift+click), though yes not well described in the instructions.
We've actually been looking to use something like histoqc, but it's on hold at the moment. Would you be interested in working with us on this?

[2019-08-23 21:40] #65 closed

[2019-08-23 21:41] birm opened #66 "Simplify/Automate Image Loading"
As noted in https://github.com/camicroscope/Distro/issues/65, our image loading is not at all intuitive. Let's automate this as much as possible.

[2019-08-24 13:55] choosehappy commented on #65
cool, multiselect does work, but i suspect it would be a bit of a burden if e.g., 100 slides were selected, as the user has to fill in the target "slidename" as i understand it? perhaps having it default to the uploading filename would already be a good option to help with bulk uploading

regarding histoqc, yes, of course, happy to collab. feel free to drop me an email when you're ready or if  you

[2020-01-27 16:50] birm opened #91 "logout should work resiliently"
that is, we need to handle logouts from both OUR and EXTERNAL identity providers without too much code duplication

[2020-01-27 17:08] birm commented on #91
google version done for custom; redoing here too

[2020-01-27 18:13] birm commented on #91
done on dev with 608441303a510022ca928c9f973eb4d5e431fe67

[2020-01-27 18:13] #91 closed

[2020-02-22 13:11] imrishabh18 opened #92 "Slides belonging to TCG BRCA are not working."
All images from these slides table are not working https://wolf.cci.emory.edu//camic_org/apps/table.html.

[2020-02-24 04:06] birm opened #93 "Customizable Heatmap Colors"
**Is your feature request related to a problem? Please describe.**
The current color scheme for the heatmaps are often useful, but may not be conveyant or visible in all contexts

**Describe the solution you'd like**
Addition of a mechanism to let a user define a heatmap color function (takes in the value(s) for a patch, outputs a color)

**Describe alternatives you've considered**
Different possi

[2020-02-24 04:12] birm opened #94 "Conversion Utility from Aperio to and from caMicroscope annotations"
**Is your feature request related to a problem? Please describe.**
Aperio also has a geometric annotation format, analagous to caMicroscope's "marks" (extended geoJson). It would be nice to convert between these formats.

**Describe the solution you'd like**
The lightest touch is the best, so there's kind of a priority list for implementations. From "best" to "worst":
- Using javascript in browser

[2020-02-24 04:18] birm opened #95 "Information Dashboard (Data[base] Summaries)"
**Is your feature request related to a problem? Please describe.**
Frequently, users/administrators are interested in a summary of data in the database.

**Describe the solution you'd like**
A simple page that answers some questions about items, mostly at the slide level.
Questions such as - how many images have at least one annotation associated with them? one heatmap?
This may be able to be done

[2020-02-24 04:23] birm opened #96 "Simplify the Microservice Architecture"
**Is your feature request related to a problem? Please describe.**
caMicroscope needs, at the least, a good access control system. This is complicated by having _two_ middleware agents (bindaas and security). This would allow us to have a centralized caMicroscope setup. Then, as long as we keep everything stateless, we can scale on _microservice_ rather than _project_.

**Describe the solution you

[2020-02-24 18:57] birm commented on #92
Thank you for this issue report. We removed those slides due to space concerns a while back. I've put a temporary distribution in the meantime.

[2020-02-24 18:57] #92 closed

[2020-02-27 15:02] saphal1998 commented on #93
I'd like to work on this issue @birm

Can you assign it to me?

[2020-02-27 15:07] birm commented on #93
Hello, and thanks for your interest. Looking at https://github.com/camicroscope/caMicroscope/blob/0971f1368894d000464c481c713a3392e0f6ea80/core/extension/osd-heatmap-overlay.js#L803 may be useful, as it's where colors are set. also, this code was written by @nanli-emory who may have additional pointers/advice.

[2020-02-27 17:29] saphal1998 commented on #93
@birm  I would like some more information about how to setup the project and in general, how to recreate the problem at hand. Could you please maybe list down some steps on how to recreate the current setting?

I've run the docker-compose up and have all the deps installed. I think I would just like help in visualising what this feature request is exactly.

[2020-03-02 10:00] zengchu2 commented on #93
@birm  Hi, can I try to address this problem as well?

[2020-03-02 14:40] birm commented on #93
Hello; you may find it useful to add a test heatmap to a slide; see https://github.com/camicroscope/Distro/blob/d0c110108e766405b64e8da60deeae9a2665043d/config/test_seed.js#L110 for the data we use for smoke testing. Run something like this (with the slide id replaced with one to add the heatmap to) against mongo (`docker exec -it ca-mongo mongo` then `use camic`) That should show the current colo

[2020-03-02 14:43] birm commented on #93
@zengchu2 Sure! It's entirely possible the two of you end up with solutions that work well together too!

[2020-03-03 02:37] Hemansh31 commented on #95
@birm I would like to work on this issue. Could you give me some pointers as to where to start and maybe a pointer to some sample data so that I can reproduce the problem???

[2020-03-03 15:54] vikasgola opened #97 "Add Load slides option in table page."
I took a quick look at caMicroscope distro but I am not able to ignore a thing that why load slider image option is on completely different page instead it could have been shown in the same table page.

It would be time saving and useful if load slide option can be added to table page itself.

[2020-03-03 16:16] vikasgola commented on #97
@birm I would like to work on this. Could you please assign it to me?

[2020-03-04 02:44] zengchu2 opened #98 "Questions towards using the container"
Hi all, I have some questions towards the Distro local usage.
**Setup:**
I clone the Distro directory and run the container of Distro using command `docker-compose -f caMicroscope.yml up` as suggested and go to localhost:4010
**Questions:**
1.  When I try to post an Image, I select a sample image from my local disk, click **Finish Upload**, **Check** without seeing error messages. When I click **P

[2020-03-04 03:05] birm commented on #98
This is certainly concerning. Can I ask a few questions?
Do you have the body that your browser sent to try to post?
Is there anything more to the body of the 500 error? (there may not be due to what I thought was an already-reported issue about the api gateway eating errors)
Where is the slide from?

Thank you for your patience and for reporting. Our slide loading is pretty confusing at best.

[2020-03-04 04:14] zengchu2 commented on #98
### Post Slide

- The slide is selected from 'Distro/images' (re [https://github.com/camicroscope/Distro/tree/master/images](url) )
- Here are some more detailed steps I performed
![upload](https://user-images.githubusercontent.com/32441682/75844206-b246da00-5dab-11ea-84b6-c70afafd5c38.png)
![check](https://user-images.githubusercontent.com/32441682/75844210-b4a93400-5dab-11ea-9c85-ca3f6e33528b.pn

[2020-03-04 13:17] vikasgola commented on #98
This error is due to uploading file with a name which is already present in `/images/` folder. Changing file name removes this error.

I think this should have been handled in slideuploder server which should change name of file on  uploading it to server or do something similar to this.

[2020-03-04 15:15] birm commented on #95
We have a test seeder that generates essentially fake results -- https://github.com/camicroscope/Distro/blob/master/config/test_seed.js; you could use this to add some results to the database to look at if you like.

[2020-03-04 18:53] #97 closed

[2020-03-06 03:28] zengchu2 commented on #98
Thanks @vikasgola, but how about the error of showing 'No Data'. According the doc, I should be fine just simply lanuching the app using command `docker-compose -f caMicroscope.yml up` right @birm ?

[2020-03-06 03:59] birm commented on #98
Yes; I wonder what's wrong with ca-data. Can I get more diagonistic information; namely, if you replicate this, run `docker ps` in another terminal?

[2020-03-06 06:54] vikasgola commented on #98
@zengchu2 are you using windows?

[2020-03-06 07:55] zengchu2 commented on #98
Yes, and I am using powershell to build docker container.

[2020-03-06 10:02] zengchu2 commented on #98
I did not setup docker stuff on the embedded system Ubuntu, I just get a 'Cannot connect to the daemon at tcp://localhost:2375. Is this docker daemon running?'

[2020-03-06 11:52] vikasgola commented on #98
@zengchu2 I have not tested this on windows. However, I tried it on ubuntu 16.04 and it runs as expected.

[2020-03-06 18:51] Hemansh31 opened #99 "Menu Bar to navigate"
While using caMicroscope a lack of menu bar always bugs me. I feel if there were a navigation bar for all the sections of the web app it would be more user friendly.
**Possible Solution:**
adding a menu bar to facilitate easy navigation

@birm would you assign this issue to me?

[2020-03-06 20:10] Hemansh31 commented on #95
@birm I am not able to run this file, could you please guide me on how to run this??

[2020-03-06 23:46] birm commented on #95
run `docker exec -it ca-mongo mongo` to get to the mongo instance, then `use camic` to use the camic database, then you can run the contents of this file, or other mongo commands.

[2020-03-06 23:47] birm commented on #99
I'll be interested to see what you come up with, and I'll tag @nanli-emory who did most of our UI design.

[2020-03-07 06:20] zengchu2 commented on #98
Hi all, here is what I get under **Ubuntu 18.04 LTS**
`
zengchu2@DESKTOP-9AMNB8N:/mnt/h/gsoc/Distro$ docker-compose -f caMicroscope.yml up
ca-mongo is up-to-date
ca-load is up-to-date
ca-auth is up-to-date
ca-iip is up-to-date
ca-security is up-to-date
Starting ca-front ...
Starting ca-data  ... error
Starting ca-idx   ...

ERROR: for ca-data  Cannot start service bindaas: OCI runtime create faile

[2020-03-07 10:27] vikasgola commented on #98
@zengchu2 are you trying to run it on Windows 10 WSL?

[2020-03-10 20:44] birm opened #100 "Consistent Style Standards"
re #1351

It'd be nice to have an agreed-upon set of rules that could be used to automatically or semi-automatically applied on LightGraphs.

In 1351, I ended up using JuliaFormatter with the following rules:
`indent = 4,
margin = 100,
always_for_in = true,
whitespace_typedefs = true,
whitespace_ops_in_indices = false,
remove_extra_newlines = true
`

However, some other changes needed to be made a

[2020-03-10 20:46] #100 closed

[2020-03-12 21:44] jlevy44 commented on #98
I'm getting this error as well. Uploads are successful, but nothing showing up in the data table viewer

[2020-03-12 22:33] birm commented on #98
If you're all getting the same error, please share your docker version and the body and return from the call triggered by the "post" button

[2020-03-14 05:44] NamanZelawat commented on #96
@birm I would like to help you with that as I have some backend knowledge with the express, MongoDB and would like to participate in GSoC this year. Also looking up for project three which is related to some server image processing.

[2020-03-15 02:42] #99 closed

[2020-03-15 02:49] birm commented on #98
I think there are at least three different issues floating about here.

If you're getting something about ca-data's mounts failing i.e. "Are you trying to mount a directory onto a file" please let me know more about your system (docker version, compose version, os, etc). I have a windows machine, but not one which supports docker, so I have to admit that that's undertested on windows (not that it

[2020-03-15 02:52] birm commented on #96
Thanks for your interest!
Take a look at expiremental.yml if you like, and github.com/camicroscope/caboodle the horribly-named replacement that I'm hoping to use. I want to do more testing, and decide how some features work, but you're welcome to take a look! It needs review/cleaning anyway.

[2020-03-15 08:17] NamanZelawat commented on #96
@birm Thanks for your reply working on it.

[2020-03-15 08:31] NamanZelawat commented on #96
@birm One part of the project is login signup right. I can contribute the code for login and signup and some basic frontend for that then we can go for further functionalities.

[2020-03-15 08:34] NamanZelawat commented on #96
If you say I can make issues on adding different functionality in the project CABOODLE(really horribly named).

[2020-03-15 18:14] saphal1998 commented on #93
Sir, after some trial and error, I have been able to get the fake heatmaps using the mongo shell, It seems to coat the entire image with a purple-ish hue. I have some follow up questions if I am to solve this issue.
<img width="1440" alt="Screenshot 2020-03-15 at 11 39 04 PM" src="https://user-images.githubusercontent.com/31125345/76707564-2a02f600-6716-11ea-9f7c-c461ee7dcfc9.png">

1) How exactly

[2020-03-16 02:03] birm opened #102 "Document Data Product Formats"
So people can use or generate data, let's describe all of the data that camicroscope interacts with, especially annotations and heatmaps.

[2020-03-17 22:04] #102 closed

[2020-03-18 01:52] birm commented on #93
this document should be reasonably useful -- https://github.com/camicroscope/Distro/blob/develop/data_types.md

Please let me know if it's missing details you find important.

[2020-03-18 01:54] birm commented on #93
To see heatmap colors as mentioned, change the mode to gradient under the gear menu.

[2020-03-18 02:03] nanli-emory commented on #93
This is a pretty useful doc to explain heatmap data model [Camic Heatmap Data Model and Rendering]
https://docs.google.com/document/d/1ckiwENsYIq1t7585Y6fxixXukVxAvoEwi0B6qp4QT88/edit#heading=h.b22n6ceohm0y

[2020-03-25 16:49] rahuldeepattri commented on #93
Hi from what i was able to find that We have two modes for drawing the heatmap, binal and gradient.
In the heatmap generated in test seed, we have a default blue color for heatmap in binal mode.

The requirement is to implement a feature where user can give an input and color of heatmap is changed for both binal and gradient modes?  [The code](https://github.com/camicroscope/caMicroscope/blob/0971

[2020-03-25 17:55] birm commented on #93
Yes, the task is about letting people add different colors (either more presets or letting users choose directly, or something of that sort).
Heatmaps are currently generated by pipelines which are a little outside of scope of caMicroscope itself, at least for now.

[2020-03-27 15:00] birm opened #105 "Permission Errors Mongo Repeatedly Exits with 100"
This has been reported a few times, so it needs its own issue.
May consider un-disabling the mongo logs in prod deployments, since mongo's exit with 100 is pretty cryptic, but that's just a start.
Relates to https://github.com/docker-library/mongo/issues/154

[2020-03-27 15:05] birm commented on #105
[code]

[2020-03-27 15:26] akhil-rana commented on #105
This happened to me after a windows update.
I wasn't able to fix it so I had to switch to linux. Not the solution but compromise.

 I tried:
1. Switching to WSL2 on docker
2. Reinstalling or resetting docker

I didn't face this issue on linux though.

[2020-03-27 16:02] animesh-007 commented on #105
I will try to solve this.

[2020-03-27 17:23] akhil-rana commented on #105
For who's getting this error,
On which file system is your repo folder located? Is it NTFS?

[2020-03-29 18:28] cjchirag7 opened #107 "Container build fails locally"
**Describe the bug**
When building the application with ```docker-compose -f caMicroscope.yml up```, it fails with the below error :
[code]
I am using docker-compose version 1.25.4 build unkown, Docker version 18.09.9, build 1752eb3.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this [repository](https://github.com/camicroscope/Distro)
2. Inside the repository folder, open your termi

[2020-03-29 18:31] cjchirag7 commented on #98
@birm , I have created a separate issue for htpps handler not being found : #107 .
Is there any other way to run the application locally, maybe without using docker ?

[2020-03-29 19:04] viditvarshney commented on #107
there had a discussion about this in the slack groupas well,
 are you joined the slack group?

On Sun, Mar 29, 2020, 11:59 PM Chirag Jain <notifications@github.com> wrote:

[2020-03-29 20:48] birm commented on #107
Can we get the git version too?

[2020-03-30 05:29] cjchirag7 commented on #107
@birm , My git version is 2.26.0 . I tried the solutions given here :  https://stackoverflow.com/questions/8329485/unable-to-find-remote-helper-for-https-during-git-clone, but none worked for me.

[2020-03-30 05:30] cjchirag7 commented on #107
@viditvarshney  thanks, I had already joined the slack group and followed the discussion there too but it didn't help.

[2020-03-31 09:33] AlinaBoshchenko commented on #107
Hey @cjchirag7 have you tried running _**docker-compose -f caMicroscope.yml up**_ without sudo?
It should help as docker should be in the same user group as you are, thus not require sudo in order to run it properly.

[2020-03-31 15:42] AlinaBoshchenko opened #109 "Saving for Draw tool is not working properly"
**To Reproduce**
Steps to reproduce the behavior:
1. Select Draw tool
2. Type name
3. Select area on the picture
4. Type note
5. No **Save** button

**Expected behavior**
Either area should be automatically saved or Save button should appear

**Screenshots**
![image](https://user-images.githubusercontent.com/42976128/78045793-0929da00-737f-11ea-9666-1211274b5c90.png)

**Note**
Everything is workin

[2020-03-31 15:54] AlinaBoshchenko opened #110 "Draw tool UI issue - can't select color for the area"
**To Reproduce**
Steps to reproduce the behavior:
1. Click on the Draw tool icon
2. Form for the name and note typing appears

Just for a moment before form for the name and note typing appears you can see the drop-down menu for color selection. It could not be accessed because it is immediately overlapped by the form.

**Expected behavior**
Ability to access the drop-down menu and select color fo

[2020-03-31 18:14] cjchirag7 commented on #107
Yes, @AlinaBoshchenko , yes I tried that. But the errors as commented [here](https://github.com/camicroscope/Distro/issues/98#issuecomment-596052533), by zengchu2 came up.

[2020-03-31 18:19] cjchirag7 commented on #107
Then, I followed @birm on slack, where he told to change
[code]
to
[code]
As a result, this error also went away. But I faced the below error :

[code]

[2020-04-01 08:48] mgautam98 commented on #109
The save button will appear by clicking on the drawing tool icon.
The first time you open it opens the Annotation form the second time you click it shows "save" button.

[2020-04-01 08:56] mgautam98 commented on #110
You can change the color of the tool color from the Annotation sub tool menu, which you can acces by right clicking anywhere on the image. Thanks for the issue. This shows we need nice manual for the users.
![Screenshot from 2020-04-01 14-22-08](https://user-images.githubusercontent.com/29784549/78118324-7e031f80-7424-11ea-98a3-aee320275743.png)

[2020-04-01 11:11] mgautam98 commented on #107
Check if you have multiple instances of docker-compose. Purge all the docker-compose installation and have a fresh one.

[2020-04-02 01:38] cjchirag7 commented on #107
@mgautam98 , thanks. I read discussion at this link earlier also and tried uninstalling docker and docker-compose and reinstalling them. It didn't work, maybe as I was not able to uninstall docker completely.

But this time, I tried doing it once again, after uninstalling docker and docker-compose from my system completely , following https://stackoverflow.com/questions/30988566/how-do-i-uninstall

[2020-04-02 01:38] #107 closed

[2020-04-02 04:17] mgautam98 commented on #107
@cjchirag7 I am happy that it worked.

[2020-04-02 10:46] cjchirag7 commented on #109
@mgautam98, @birm   but still when you try clicking on 'save' button with an **empty note**, it doesn't save.

And when you check the console, you find the following errors -
[code]

I have fixed this bug, with [PR-298](https://github.com/camicroscope/caMicroscope/pull/298) of caMicroscope repository.

[2020-04-02 10:53] cjchirag7 commented on #109
Now, it is automatically saving:
![create-annotation-empty](https://user-images.githubusercontent.com/45796806/78241447-ff7ab080-74fd-11ea-8425-dce3f728035f.gif)

[2020-04-02 17:58] cjchirag7 commented on #110
We can add a popup message, to be displayed to user for a small time, showing him that for more options, he needs to right click anywhere on the image.

[2020-04-02 19:17] #96 closed

[2020-04-02 19:17] #93 closed

[2020-04-02 19:17] birm commented on #93
Thanks @rahuldeepattri!

[2020-04-03 01:39] birm commented on #110
@AlinaBoshchenko does #299 resolve your issue?

[2020-04-03 01:40] #109 closed

[2020-04-03 20:31] Vedant1202 commented on #95
@birm I would like to work on this. I just wanted to know if you want a static display table showing the information or a more user interactive one?

[2020-04-04 03:32] birm commented on #95
I think it's not a bad idea to start with a static one. Maybe a search/filter/sort like the slide table?

[2020-04-04 04:58] Vedant1202 commented on #95
Alright I'll get working on this.

[2020-04-05 20:16] Hemansh31 commented on #95
@birm I have created a PR regarding an initial implementation of the information dashboard.
https://github.com/camicroscope/caMicroscope/pull/323
Please review and suggest any major changes you think are needed.

[2020-04-05 20:40] Hemansh31 commented on #94
@birm I would like to work on this.
Could you provide some sample annotations in aperio's format

[2020-04-06 00:51] birm opened #115 "Bootstrap First Admin"
**Is your feature request related to a problem? Please describe.**
No admins are present at startup, and using the UI, an admin account is needed to add an admin account.

**Describe the solution you'd like**
_something_ to add a single user-provided email as an admin without using mongo

**Describe alternatives you've considered**
Instruct users to edit the user seed to add their own user.

[2020-04-06 02:36] mgautam98 commented on #105
@birm Making the following change to yml file solved my issue.

[code]
Mounting only the db directory as volume after removing all the files except .gitignore from ./db folder. I am no longer getting permission error and everything seems working fine.

I don't know how and why it got working. @akhil-rana you can check this if its working for you.

[2020-04-06 02:43] birm commented on #105
I think that means that mongo isn't mounting the files, which will bypass the permission issue, but means that killing and removing the container will (probably?) also clear the database.

[2020-04-06 07:54] birm commented on #94
I'll see if I can get imagescope running somewhere. In the mean time, this gist may be somewhat informative? https://gist.github.com/DanaCase/9cfc23912fee48e437af03f97763d78e

[2020-04-11 15:51] #66 closed

[2020-04-21 04:28] #110 closed

[2020-04-25 05:50] birm commented on #98
I think this has been resolved since we no longer mount in files directly.

[2020-04-25 05:50] #98 closed

[2020-04-25 05:50] #95 closed

[2020-04-27 03:06] birm commented on #115
An more flexible version of this has been done in https://github.com/camicroscope/Caracal/pull/26

[2020-04-27 03:06] #115 closed

[2020-05-21 17:45] chovy commented on #105
someone said to create a mongo user and group on the host. How do I do that?

[2020-06-17 08:00] 3048205169 opened #127 "index container permission issue on windows + ubuntu SSH"
**Describe the bug**
In Nanoborb, after open the .svs file, there will be a toolbar on the left-top on the website, and there is a "draw" on the toolbar.

In nanoborb, this tool can be successfully used to draw lines but in the server of caMicroscope (after hosted setup) will show errors: for more options, balabala... and then nothing will change no lines can be drawn.

A clear and concise descrip

[2020-06-17 15:20] birm commented on #127
Thanks for the bug report! I think I know what's causing this issue, so I hope you don't mind if I ask you to check something in the database.
Can you check mongo via `docker exec -ti ca-mongo mongo` and see if you notice anything in the camic db, template collection?

[2020-06-18 01:07] 3048205169 commented on #127
This is the screenshot after running `docker exec -ti ca-mongo mongo`
![mongo](https://user-images.githubusercontent.com/38618523/84966059-16b35c80-b143-11ea-83e1-79af9e263bbd.png)

[2020-06-18 01:08] birm commented on #127
yes, from this prompt, run `use camic` then `db.template.find().pretty()`

[2020-06-18 01:09] 3048205169 commented on #127
![camic](https://user-images.githubusercontent.com/38618523/84966197-7a3d8a00-b143-11ea-87cb-b01054efe437.png)

[2020-06-18 01:10] birm commented on #127
Don't forget the () at the end of pretty.

[2020-06-18 01:12] 3048205169 commented on #127
Sorry!
![camic](https://user-images.githubusercontent.com/38618523/84966293-c7216080-b143-11ea-8dde-02e9ac82f245.png)

[2020-06-18 01:15] birm commented on #127
Thanks!
There are no templates in the db, so, it's clear that this step (https://github.com/camicroscope/Distro/blob/master/config/default_data.js) has been skipped somehow.
Sorry to bug you more, but can you remove lines 7, 8, 14, and 15 from develop.yml (both sets are logging: driver none) and see if ca-mongo or ca-idx say anything interesting on startup?

[2020-06-18 01:16] 3048205169 commented on #127
OK, I will exactly do that!

[2020-06-18 01:17] 3048205169 commented on #127
![txt](https://user-images.githubusercontent.com/38618523/84966641-942b9c80-b144-11ea-9bba-6f3ff73e3eae.png)

[2020-06-18 01:21] 3048205169 commented on #127
![update1](https://user-images.githubusercontent.com/38618523/84966816-04d2b900-b145-11ea-82a8-8e93d67d66af.png)
![update2](https://user-images.githubusercontent.com/38618523/84966821-07cda980-b145-11ea-9203-d9816a21d19a.png)

[2020-06-18 01:23] birm commented on #127
Ah, a permission error on run_idx.sh! You implied this is windows, but could you (from your host machine, Distro folder) run `ls -alt config/run_idx.sh` to see if it has execution permissions?

[2020-06-18 01:27] 3048205169 commented on #127
-rw-rw-r-- 1 (the user name of Ubuntu and the date and time) config/run_idx.sh

[2020-06-18 01:39] birm commented on #127
Okay, can you see if the change in  https://github.com/camicroscope/Distro/commit/390f78426a750c90cc915f59be7aaa1a28016d2d resolves your issue?

[2020-06-18 01:44] 3048205169 commented on #127
YEs! the drawing function now can be used! Thanks a lot!

[2020-06-18 01:45] 3048205169 commented on #127
But another little drawback is shown in google chrome: A Self-Intersecting Polygon Will Cause Inaccurate Area and Circumference. DOes it matter?

[2020-06-18 01:47] birm commented on #127
We use the shoelace algorithm for calculating the area for polygons, but it fails in the intersecting case. It's just a warning that the area number given will be wrong. :)

[2020-06-18 01:49] 3048205169 commented on #127
It makes sense. I will do my rest function testing on this software!

[2020-06-18 01:49] birm commented on #127
Thanks for your patience and cooperation in helping us with this. I'm still not sure exactly _why_ this permission issue has happened, but starting next release, we should sidestep that entirely. :confetti_ball:

[2020-06-18 01:49] #127 closed

[2020-06-18 06:27] 3048205169 opened #128 "Some questions about the format of uploading slides"
**Describe the bug**
Only .svs slides can be uploaded but .tiff slides cannot be uploaded which is wired because not only in caMicroscope but also in Nanoborb, the .tiff slides cannot be uploaded.

However, in the guide in Nanoborb, it recommends that .tiff slides can be uploaded and CMU.tiff is shown as the sample file.

[2020-06-18 09:52] 3048205169 commented on #128
And another question, after drawing, there will be lines and rectangles on the slides, I wonder where do these lines and rectangles restored? I guess maybe they are images such as png or jpg but actually I cannot find them in the caMicroscope folder or Distro folder. Maybe they are in ca-mongo database?

[2020-06-18 15:32] birm commented on #128
tiff _should_ work, that's strange. It's in the [allowedExtensions](https://github.com/camicroscope/caMicroscope/blob/07a0f994aa3252b42c51a800b4e9fe468a45ff2d/apps/table.js#L16), and should be supported by openslide.
Annotations are in the mongo database, and do not modify the slide file itself.

[2020-06-18 17:00] birm opened #129 "Mongo Document Validation"
Avoid bad documents (missing required fields) in the DB.

[2020-06-19 00:58] 3048205169 commented on #128
![tiff](https://user-images.githubusercontent.com/38618523/85085622-fcdd4c80-b20a-11ea-8ab9-2d5fa6632f63.png)

[2020-06-19 00:59] 3048205169 commented on #128
And I wonder how to get into the mongo database to see these annotation files. Are there any commands in Ubuntu that can be used to find these files?

[2020-06-19 03:07] birm commented on #128
As for annotations, There are a few options. You can expose the mongo db port and connect outside of the container (do _not_ do so in production), but I usually exec into the container with `docker exec -it ca-mongo mongo`

Can you try an openslide-show-properties on the image file you're using?

[2020-06-19 03:12] 3048205169 commented on #128
THis command runs
![ca-mongo](https://user-images.githubusercontent.com/38618523/85093074-c78e2a00-b21d-11ea-8c41-6be0d4c0fa7c.png)

[2020-06-19 03:13] 3048205169 commented on #128
Is the annotation stored as .wt file?

[2020-06-19 03:42] birm commented on #128
They are stored as augmented geojson documents. From that mongo shell, you can run `use camic` as before, then `db.mark.count()` to determine how many annotations, and `db.mark.find()` to get the data.

[2020-06-19 03:59] birm commented on #128
I've never tried to mess with the wired tiger files or any mongo internals directly in that way. Perhaps you can?

[2020-06-19 04:19] 3048205169 commented on #128
Oh! your commands are very useful! Previouly I thought maybe the .wt file is the annotation!

[2020-06-23 14:24] #129 closed

[2020-07-02 07:19] 3048205169 opened #132 "Some questions about the inner mechanism of saving annotations"
After observation, I guess, this entire software uses js to make not only the front end but also the back end?

The question is, If I choose the preset label tool in the tool bar and choose the Tumor, Positive, 2000. Then I draw and drag on the slide, then annotation will be saved in the mongoDB. AND, what functions will be called in this process? Which files will be used?

[2020-07-08 15:34] nanli-emory commented on #132
Hi @3048205169. I'm sorry for responding so late. Thanks for your patience and understanding.
Yes, you are right. In QUIP stack, we use js to make both front-end and back-end.
Actually, there are two docker containers.

[CaMicroscope](https://github.com/camicroscope/caMicroscope) is a front-end provider.
[Caracal](https://github.com/camicroscope/Caracal) is a back-end provider.

At Front-end, you

[2020-07-16 18:58] birm opened #135 "Add Ability to select different fork"
For pathdb and for caracal, add ability to select fork, in addition to branch

[2020-07-16 19:46] birm commented on #135
in progress with https://github.com/SBU-BMI/PathDB/pull/63/ and https://github.com/camicroscope/Caracal/commit/c6ea4eee4b54f748b778f7bce873f4905068d5b4

[2020-07-16 19:52] #135 closed

[2020-08-04 04:07] birm opened #137 "Travis Keeps Disconnecting"
Consider use of another CI platform.

[2020-08-05 17:17] birm commented on #137
Renewed travis. It'll probably happen again, but we don't have sufficient permission to do much else.

[2020-08-05 17:17] #137 closed

[2020-09-10 14:50] jfkotw opened #142 "Running without an identity provider"
Is it possible to run the software without requiring an identity provider?

If not are there any instructions for running with e.g. a keycloak container to allow setting up a simple test environment without needing a google account?

[2020-09-10 14:58] birm commented on #142
Have you tried the config in develop.yml?
The following environment variables should make use of an identity provider optional. https://github.com/camicroscope/Distro/blob/42eb9251089ee8e5ef64bc2ff7d1cf88c8b5548a/develop.yml#L39

We're _slowly_ working on an auth container or equivalent similar to what you've proposed, but anything which has the required fields in a jwt with an appropriate signatu

[2020-09-11 09:57] jfkotw commented on #142
Thanks for the tip, solved the issue for me. Looking forward to the developments, and happy to test anything once it is ready.

[2020-09-11 09:57] #142 closed

[2020-09-11 12:29] jfkotw opened #144 "Uploading slides not working"
**Describe the bug**
I've been trying to get caMicroscope running on my local docker-compose setup and have run into an issue when attempting to upload images to get started with testing.

I downloaded an example ndpi file from the openslide website:
http://openslide.cs.cmu.edu/download/openslide-testdata/Hamamatsu/CMU-1.ndpi
This slide opens fine in Nanoborb and also

**To Reproduce**
Steps to re

[2020-09-29 00:26] birm opened #145 "System Recommendations/Requirements"
Add system requirements for different scales, and report on it, preferably per-service.

[2020-10-01 15:46] birm commented on #144
Actually, I'm having a hard time replicating this. Can you confirm if it's still an issue?

[2020-10-01 20:24] birm commented on #145
Adding a "System Recommendations" section to the readme.
`As of 3.8.0, the non-pathdb caMicroscope deployment seems to peak about 500mb of memory per user from basic tests. The system is most likely to work optimally if the CPU can support two or three threads per concurrent user. The containers themselves take up a total of about 6gb of disk, but note that whole slide images typically use 0.5-2 g

[2020-10-01 20:24] #145 closed

[2020-10-02 15:20] jfkotw commented on #144
I just ran git pull on https://github.com/camicroscope/Distro/
Then ran:
docker-compose -f develop.yml build --force-rm
and
docker-compose -f develop.yml up --force-recreate

The issue remains for me. One more thing that may be relevant. The docker containers are running on my desktop, and I'm accessing the website from my laptop.

[2020-10-02 19:34] birm commented on #144
Tricky bug. To be honest, I'm not sure what about the ndpi file caused it, but it should be resolved in 3.8.1 (or current develop)

[2020-10-02 20:49] birm commented on #144
If you can, please try rebuilding the services, or at least the ca-back container, and see if that resolves your issues.

[2020-10-03 07:31] jfkotw commented on #144
Confirmed that it works for me now. Thanks!

[2020-10-03 09:36] #144 closed

[2020-10-03 13:23] birm commented on #144
Thanks for reporting this and working with us!

[2020-10-26 21:52] birm opened #148 "Mongo Version Upgrade"
Upgrade Mongo upgrade from 3.6 to 4.2

TODO:

- [ ] Do all of the routes/queries/features work on the backend?
- [ ] Do we need to update the indices or default insertions?
- [ ] Will a user need to anything to keep data

@ebremer @nanli-emory

[2020-10-28 15:34] birm opened #149 "Seed data should double as demo data"
Add meaningful heatmap, annotation, and segmentation to a public slide, and add them all to this distro.

[2020-10-28 17:19] nanli-emory commented on #149
I added 7 heatmaps on the `TCGA-05-4249-01Z-00-DX1` slide.

[2020-11-11 14:58] ebremer commented on #148
Running mongo:4.2.6 on both installations with no issues nor data loss, especially on SBU QuIP.

[2020-12-18 15:31] birm opened #153 "rotate logs"
Rotate logs so they don't become too big

[2020-12-23 16:35] birm commented on #153
solved by https://github.com/camicroscope/Distro/commit/361fc3b726faabd13a7ee42127a3c853781f562a

[2020-12-23 16:35] #153 closed

[2021-01-28 14:42] birm commented on #148
trying to swap out container from "3.6.18-xenial" to "mongo:4.2.12-bionic" failed, returned
[code]

[2021-03-04 20:26] birm opened #159 "Travis has Issues with Docker and rate limits"
`Service 'back' failed to build: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit`

See, for example, https://travis-ci.org/github/camicroscope/Distro/builds/761490524

[2021-03-05 18:50] ebremer commented on #148
try "mongo:4.2.6"

[2021-03-05 18:51] birm commented on #148
[code]

[2021-03-05 19:03] birm commented on #148
Lucky for us, 4.0 works just fine from 3.6. Next release (probably 3.9.1 bugfix shortly) will have mongo 4.0, then we'll see if we can upgrade to 4.6 safely.

[2021-05-30 08:25] Vedant1202 opened #168 "Docker compose fails since additional_links.json file was deleted"
**Describe the bug**
When running `docker-compose` on `develop.yml` and `camicroscope.yml`, the command exits with error since `additional_links.json` file was deleted in a previous commit.

A good solution would be to either comment out/delete the lines importing the `additional_links.json` file in the `yml` files.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Distro on `develop`
2.

[2021-05-30 17:45] Vedant1202 commented on #168
Closed with #169

[2021-05-30 17:45] #168 closed

[2021-08-09 20:11] birm opened #176 "Key Generation Portability"
the jwt_keys/make_keys.sh script doesn't seem to work on windows. can we make something which does?

[2021-09-15 15:56] birm opened #178 "Upgrade Google Signon"
https://developers.googleblog.com/2021/08/gsi-jsweb-deprecation.html

due in 2023. Got some errors when trying (unexplained 403s), revisit later.

[2021-11-11 18:33] birm opened #182 "Automatic Docker Image Builds on Github"
see https://hub.docker.com/u/camicroscope; claims 5 months ago

[2021-12-02 03:03] birm opened #183 "Kubernetes Config"
We need a working and easy kubernetes config. Kompose alone has been insufficient so far.

[2021-12-03 15:02] birm commented on #182
Looks like the default plan doesn't include auto builds anymore. So, let's try github.

[2022-01-20 01:11] VisweshK opened #185 "JsonWebTokenError - Issue using Secret Key"
**Bug Descriptions**
Created the credentials from the linked guide and edited the client id in config/login.html. I also edited config/add_users.js to add a new admin user and uncommented the line to insert into the db.

When run I'm getting the following error

<img width="1177" alt="Screen Shot 2022-01-19 at 5 06 59 PM" src="https://user-images.githubusercontent.com/31373276/150243827-db93aaf6-d

[2022-01-20 02:59] birm commented on #185
Thanks for the report, and apologies that you're experiencing this issue.

The [section of code it's complaining about](https://github.com/camicroscope/Caracal/blob/f435f6fd48636281900b097150d6fd5305444296/handlers/authHandlers.js#L194) and [where it's being invoked](https://github.com/camicroscope/Caracal/blob/f435f6fd48636281900b097150d6fd5305444296/caracal.js#L72) suggests that the public/priva

[2022-03-01 02:55] RAMESSESII2 commented on #183
Hey @birm, please assign this issue to me.
Also if I may know, why do you want to move from auto-generated k8s-config of Kompose to custom-written yamls?

[2022-03-01 15:36] birm commented on #183
The primary thing that we actually needed to do was to add secrets and configmaps. Me doing the whole thing manually was likely unnecessary.
I will accept pull requests against https://github.com/camicroscope/Distro/tree/develop/kubernetes if you'd like to change something.

[2022-08-05 11:50] swvanderlaan opened #193 "A service can not depend on itself"
**Describe the bug**
After creating a directory to clone `caMicroscope` into, I received this error:

**To Reproduce**
These were the steps I took:

[code]

**Expected behavior**
I am expecting a smooth start of the installation. A quick solution is to change the following in the `caMicroscope.yml`-file:

[code]

One can't reference a service to itself.

**Screenshots**
n/a

**Desktop (please comp

[2022-08-05 13:33] #149 closed

[2022-08-05 13:33] #159 closed

[2022-08-05 13:39] birm commented on #193
Thank you for reporting. I've updated that file, does that solve your
problem?

On Fri, Aug 5, 2022, 07:51 Sander W. van der Laan ***@***.***>
wrote: